/* src/Home.css */
.home-container {
    background-image: url('./images/Maman.jpg'); /* Mettez à jour le chemin de l'image */
    background-size: cover; /* Couvre tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    height: 100vh; /* Hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(203, 24, 24); /* Couleur du texte, changez selon vos besoins */
}
